<!DOCTYPE html>
<!---Coding By CoderGirl | www.codinglabweb.com--->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login Form</title>
  <!---Custom CSS File--->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <input type="checkbox" id="check">
   
    <div class="login form">
      <header>Login</header>
       <!-- Display the message if it exists -->
       {% if message1 %}
        <p>{{ message1 }}</p>
      {% endif %}
      {% if message2 %}
        <p>{{ message2 }}</p>
      {% endif %}
      <form method="POST">
        <input id= "username" name= "username" type="text" placeholder="Enter your email">
        <input id= "password" name= "password" type="password" placeholder="Enter your password">
        <input type="submit" class="button" value="Login">
      </form>
      <div class="signup">
         <span class="signup">Don't have an account?
         <a for="check" href="{{ url_for('registration') }}">Signup</a>
        </span>
      </div>
    </div>
  </div>
</body>
</html>
