<!DOCTYPE html>
<!---Coding By CoderGirl | www.codinglabweb.com--->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registration Form</title>
  <!---Custom CSS File--->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
   
    <div class="login form">
      <header>Signup</header>
      <form method="POST">
        <input id= "username" name= "username" type="text" placeholder="Enter your email">
        <input id= "password" name= "password" type="password" placeholder="Create a password">
        <input type="password" placeholder="Confirm your password">
        <input type="submit" class="button" value="Signup">
      </form>
      <div class="signup">
        <span class="signup">Already have an account?
          <a href="{{ url_for('login') }}">Login</a>
        </span>
      </div>
    </div>
  </div>
</body>
</html>
